@mixin container() {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@mixin flex-element($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}