.l-members-list {

  &__header {
    margin-bottom: 48px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: 769px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__headline {
    margin-bottom: 24px;

    @media (min-width: 769px) {
      margin-bottom: initial;
    }
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 600;
    color: #111827;
    margin: 0;
  }

  &__subtitle {
    color: #6b7280;
    margin: 0.25rem 0 0 0;
  }
}